@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-light-grayish-blue);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  background-color: var(--White);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 1.25em 0.75em;
}

.top-bar {
  display: flex;
  margin-bottom: 10px;
}
.notification {
  display: flex;
  font-weight: 800;
  font-size: 1.25em;
}
.count {
  font-size: 1rem;
  background-color: var(--Blue);
  margin-left: 10px;
  padding: 2px 10px;
  border-radius: 5px;
  color: var(--White);
}
.read-all {
  width: 100%;
  text-align: right;
  color: var(--Dark-grayish-blue);
  margin-right: 5px;
  cursor: pointer;
}
.read-all:hover{
    color:var(--Blue);
    transition:color 0.3s;
}
.message-tab {
  display: flex;
  font-weight: 800;
  font-size: 0.85em;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10px;
}
.message-body {
  padding: 0px 10px;
}
.profile-pic img {
  width: 2.5rem;
  margin-right: 5px;
}
.photo{
    margin-right:10px;
}
.photo img {
  width: 2.5rem;
  cursor: pointer;
  
}
.name {
  color: var(--Very-dark-blue);
  cursor: pointer;
}
.name:hover{
    color:var(--Blue);
}
.function {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  margin-left: 2px;
  margin-right: 2px;
}
.club {
  color: var(--Blue);
  cursor: pointer;
}
.club:hover{
    color:var(--Dark-grayish-blue);
}
.post {
  color: var(--Dark-grayish-blue);
  cursor: pointer;
}
.post:hover{
    color:var(--Blue);
}
.status {
  background-color: var(--Red);
  display: inline-block;
  translate: 0% -25%;
  height: 7px;
  width: 7px;
  box-shadow: 0 0 1px 1px var(--Red);
  border-radius: 50%;
  margin-left: 4px;
}
.time {
  color: var(--Grayish-blue);
  font-weight: 400;
  margin-top: 4px;
}
.personal {
  display: block;
  border: 1px solid var(--Light-grayish-blue-1);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 20px;
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}
.personal:hover{
    background-color:var(--Light-grayish-blue-1);
    transition:background-color 0.2s;
}
@media only screen and (min-width: 450px) {
  .container {
    width: max(40%,375px);
    height: fit-content;
    border-radius: 10px;
  }
  .status {
    background-color: var(--Red);
    display: inline-block;
    translate: 0% -50%;
    height: 4px;
    width: 4px;
    box-shadow: 0 0 1px 1px var(--Red);
    border-radius: 50%;
    margin-left: 4px;
  }
  .photo{
    position:absolute;
    right:0;
    margin-right:40px;
}
.top-bar{
    margin:10px;
    margin-bottom:20px;
}
.messages{
    margin-bottom:-30px;
}
}
